* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/bebas-neue-bold.woff2);
  font-display: swap;
  font-weight: 400;
}

.home {
  position: relative;
  padding-bottom: 20px;
  background-color: #ebe8e3;
}

.homeContainer {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homeTop {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 688px;
  width: 100%;
  margin-bottom: auto;
}

.homeTopBox {
  width: 100%;
  background-color: #fffdf4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  padding: 14px 20px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.homeTopBox-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.homeTopTitle {
  font-family: PoppinsThin, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.homeTopText {
  font-family: PoppinsBold, sans-serif;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  font-weight: 700;
}

.homeTopText-blueviolet {
  color: #53453f;
}

.descText {
  font-family: PoppinsThin, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 7px;
  margin-top: 10px;
}

.descText > span {
  color: #f80000;
}

.homeTitle {
  font-family: "Bebas Neue", sans-serif;
  font-size: 53px;
  line-height: 1;
  text-transform: uppercase;
  max-width: 631px;
  margin: 0 0 30px;
  color: #2c0815;
}

.homeTitle span {
  color: #53453f;
}

.homeText {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.45;
  margin-bottom: 20px;
  color: #2c0815;
}

.homeList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  max-width: 620px;
  margin-bottom: 50px;
}

.homeListItem {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: PoppinsThin, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: #2c0815;
}

.homeListItem > img {
  min-width: 46px;
}

.homeListItem > p > span {
  color: #53453f;
}

.homeSignUpBtn {
  max-width: 637px;
  width: 100%;
  padding: 10px 25px;
  background: #53453f;
  border-radius: 50px;
  border: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 64px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: auto;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 111px;
  transition: transform 0.2s ease;
}

.homeSignUpBtn > p {
  margin-top: 15px;
}

.homeSignUpBtn:hover {
  transform: translateY(-2px);
}

.homeSignUpBtn:active {
  transform: translateY(1px);
}

.giftBox {
  display: flex;
  align-items: center;
  gap: 21px;
  max-width: 578px;
  padding: 5px 43px 5px 3px;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
  margin-top: 20px;
}

.giftImg {
  max-width: 85px;
  width: 100%;
  object-fit: cover;
}

.gifyTitle {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
}

.gifyTitle > span {
  font-weight: normal;
}

.tabletMentor {
  display: none;
}

.mdHidden {
  display: none;
}

@media screen and (max-width: 900px) {
  .home {
    background-image: none !important;
  }

  .homeContainer {
    align-items: center;
  }

  .tabletMentor {
    display: block;
    width: 51%;
    height: auto;
  }

  .descText {
    text-align: center;
    margin-bottom: 0;
    padding-top: 30px;
  }

  .mdHidden {
    display: flex;
  }

  .homeTopBox:nth-child(2) {
    display: none;
  }

  .homeTopBox {
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .homeTopTitle {
    font-size: 16px;
  }

  .homeTopText {
    font-size: 24px;
    line-height: 36px;
  }

  .homeTitle {
    max-width: 580px;
    margin: 30px auto 60px;
    text-align: center;
    font-size: 30px;
    line-height: 42px;
    font-weight: 500;
  }

  .homeSignUpBtn {
    width: 100%;
    max-width: none;
    padding: 13.5px 30px;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .maxMd_hidden {
    display: none;
  }

  .homeText {
    font-size: 20px;
    line-height: 22px;
    padding: 50px 0 20px;
    text-align: center;
    margin-bottom: 0;
  }

  .homeList {
    max-width: none;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 30px;
  }
.homeTi
  .homeListItem {
    font-size: 16px;
    line-height: 16px;
  }
}

@media (max-width: 768px) {
  .tabletMentor {
    width: 334px;
    height: 353px;
    margin-top: -50px;
    margin-right: -20px;
    margin-bottom: -40px;
  }
}

@media (min-width: 480px) {
  .homeListItem > br {
    display: none;
  }
}

.calendarIcon {
  display: none;
}

@media (max-width: 480px) {
  .homeContainer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .giftBox {
    margin-bottom: 18px;
    gap: 11px;
    padding-right: 11px;
  }

  .giftImg {
    max-width: 50px;
  }

  .gifyTitle {
    font-size: 11px;
  }

  .calendarIcon {
    min-width: 20px;
    display: flex;
  }

  .homeTopBox {
    padding: 21px 34px;
    box-shadow: 0px 4px 6.6px 0px #00000026;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .homeTopBox-row {
    align-items: center;
    gap: 10px;
  }

  .homeContainer {
    padding-left: 12px;
    padding-right: 12px;
  }

  .homeTopBox {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .homeTopTitle {
    font-size: 18px;
    line-height: 18px;
  }

  .homeTitle {
    font-size: 30px;
    margin-bottom: 0px;
    margin-top: 10px;
    max-width: 391px;
    line-height: 30px;
  }

  .descText {
    font-size: 14px;
    padding-top: 10px;
  }

  .homeSignUpBtn {
    font-size: 28px;
    height: 61px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 11px;
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .homeSignUpBtn > p {
    margin-top: 5px;
  }

  .homeText {
    padding-top: 0;
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 12px;
  }

  .homeList {
    gap: 15px;
  }

  .homeListItem > img {
    min-width: 40px;
    width: 40px;
    height: 40px;
  }

  .homeListItem {
    font-size: 14px;
    line-height: 24px;
    align-items: center;
  }
}

.homeModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
}

.homeFormContainer {
  position: relative;
  z-index: 30;
  background-color: white;
  border-radius: 8px;
  padding: 60px 40px 40px;
  width: 100%;
  max-width: 520px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
}

.homeFormTop {
  display: flex;
  justify-content: space-between;
}

.homeFormTopTitle {
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 20px;
  color: #000;
  font-family: "Bebas Neue", sans-serif;
  text-align: left;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.homeFormErrorText {
  color: #e53e3e;
  margin-bottom: 12px;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

.HomeFormRow {
  margin-bottom: 48px;
}

.HomeFormRowLabel {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
  color: #48635b;
}

.HomeFormRowInput {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #bed4da;
  min-height: 48px;
  background-color: #f3f7f8;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  transition: border-color 0.2s;
}

.HomeFormRowInput:focus {
  border-color: #53453f;
}

.HomeFormRowInput::placeholder {
  color: #aaa;
}

.HomeFormBtn {
  font-family: "Bebas Neue", sans-serif;
  position: relative;
  height: 70px;
  width: 100%;
  cursor: pointer;
  border-radius: 50px;
  background: #53453f;
  font-size: 28px;
  color: #fff;
  text-transform: uppercase;
  border: none;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.giftImgBtn {
  position: absolute;
  top: -50%;
  transform: translateY(35%);
  left: 0;
}

@media screen and (max-width: 768px) {
  .homeFormContainer {
    max-width: 450px;
    padding: 30px;
    margin: 0 15px;
  }

  .homeFormTopTitle {
    font-size: 28px;
  }

  .HomeFormBtn {
    height: 60px;
    font-size: 24px;
  }

  .closeButton {
    top: 15px;
    right: 15px;
  }
}

.homeModalDescription {
  display: none;
}

.hero_text {
  display: none;
}

@media screen and (max-width: 480px) {
  .hero_text {
    display: flex;
    font-size: 14px;
    max-width: 300px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .homeFormContainer {
    max-width: 100%;
    padding: 96px 20px 20px;
    margin: 0;
    border-radius: 6px;
    height: 100vh;
  }

  .homeFormTopTitle {
    font-size: 48px;
    text-align: center;
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6px;
  }

  .homeModalDescription {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    max-width: 353px;
    margin-bottom: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .homeFormErrorText {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .HomeFormRow {
    margin-bottom: 34px;
  }

  .HomeFormRowLabel {
    margin-bottom: 6px;
    display: none;
  }

  .HomeFormRowInput {
    padding: 0px 12px;
    min-height: 40px;
    border: none;
    border-bottom: 1px solid #a3a3a3;
    background-color: transparent;
    border-radius: 0px;
  }

  .HomeFormRowInput::placeholder {
    color: #a3a3a3;
  }

  .HomeFormBtn {
    height: auto;
    font-size: 40px;
    padding-top: 21px;
    padding-bottom: 21px;
    max-height: 69px;
    margin-top: 24px;
  }

  .closeButton {
    top: 10px;
    right: 10px;
    padding: 2px;
  }

  .homeFormTop {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 360px) {
  .homeFormTopTitle {
    font-size: 32px;
  }

  .HomeFormBtn {
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .homeTitle {
    font-size: 26px;
  }
  .descText {
    font-size: 12px;
  }
}

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: black;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__link {
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: sans-serif;
  text-decoration: none;
  b {
    font-weight: 700;
    text-decoration: underline;
  }
}